---
title: Espérance - Suchy
---

<article id="presentation">
  <h1>Présentation</h1>

  <p>L'Espérance, choeur d'hommes de Suchy fondé en 1895, devient un choeur mixte en 1945.</p>

  <p>En 2002, Marcel Baselgia reprend la baguette et conduit l'Espérance sous des horizons valaisns, neuchâtelois, fribourgeois et grisons. Tout d'abord à Disentis où a lieu en 2003 la rencontre de 60 choeurs provenant de la région de la Surselva ; puis à Coire, en 2006, où s'est déroulée la fête cantonale des chanteuses et des chanteurs de ce canton. Lors de ces deux fêtes, l'Espérance a obtenu la mention très bien dans la catégorie II.</p>

  <p>2006 verra fleurir un bouquet d'airs d'opéras et d'opérettes, en collaboration avec le choeur mixte de Penthalaz et Joëlle Delley, soliste professionnelle.</p>

  <p>Entre 2007 et 2010, lors de concerts organisés à l'église de Suchy, l'Espèrance a accueilli le Choeur des Jeunes de Lausanne, l'Ensemble vocal Alexandrin et l'octuor Coup d'Coeur</p>

  <p>En 2010, le Choeur mixte de Suchy a réalisé 2 concerts-spectacles : "Rencontres" - 18 pièces allant de  1937 à 2010 ! La présentation a été confiée à Samuel Ebinger qui a imaginé un scénario orignal composé de 18 sketchs.</p>
</article>

<article id="manifs">
  <h1>Prochains Concerts</h1>
  <div class="manif">
    <h2>Concert de l'Avent</h2>
    <p class="date">7 décembre 2014 - 17:00</p>
    <p>
      Concert de l'Avent au temple de Suchy
    </p>
  </div>
  <div class="manif">
    <h2>Concert de l'Avent</h2>
    <p class="date">14 décembre 2014 - 17:00</p>
    <p>
      Concert de l'Avent au temple de Morges
    </p>
  </div>
</article>

<article id="contact">
  <h1>Nous Contactez</h1>
  <form method="post" action="/mail">
    <div class="field">
      <label for="first_name">Prénom</label>
      <input type="text" name="mail[first_name]" id="first_name" />
    </div>

    <div class="field">
      <label for="last_name">Nom</label>
      <input type="text" name="mail[last_name]" id="last_name" />
    </div>

    <div class="field">
      <label for="email">Email</label>
      <input type="text" name="mail[email]" id="email" />
    </div>

    <div class="field">
      <label for="message">Message</label>
      <textarea name="mail[message]" id="message"></textarea>
    </div>

    <div class="field">
      <input type="submit" value="envoyer"/>
    </div>
  </form>
</article>
