header {
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 200px;
  right: 0px;
  background-color: #00aded;
  border-bottom: 1px solid #d8f3fd;
  height: 200px;

  #header-content {
  width: 960px;
  margin: auto;

    img {
      height: 200px;
    }
  }
}

#content {
  width: 960px;
  margin: auto;
  margin-top: 230px;
  text-align: left;
}
