<!DOCTYPE HTML>
<html lang="fr">
  <head>
    <meta charset="utf-8"/>
    <title><%= @item[:title] %></title>
    <link rel="stylesheet" href="<%= stylesheet_path 'application' %>" media="screen">
    <script src="<%= javascript_path 'application' %>"></script>
  </head>
  <body>
    <div id="header">
      <div id="menu">
        <div id="title">
          <h1>Choeur mixte - Suchy</h1>
        </div>
        <div id="navigation-container">
          <div id="navigation">
            <ul id="main-menu">
              <li class="menu-item"><a href="#presentation">Présentation</a></li>
              <li class="menu-item"><a href="#manifs">Prochains Concert</a></li>
              <li class="menu-item"><a href="#contact">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div id="banner">
        <div id="bannertext">
          <h2>L'ESPERANCE</h2>
        </div>
      </div>
    </div>
    <div id="content">
      <%= yield %>
    </div>
  </body>
</html>
